.home {
    height: 100vh;  
    background: url('C:\Users\nikis\OneDrive\Desktop\Project\frontend\public\header_img.jpg') no-repeat;
    
    background-size: cover;
    background-position: center;  
    position: relative;
}

.home-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 60%; 
    top: 10%;
    left: 6vw;
    animation: fadeIn 3s;
    color: #000000; 
}

.home-contents h2 {
    font-weight: 500;
    color: black;  
    font-size: max(4.5vw, 22px);
    margin: 0; 
}

.home-contents p {
    color: black;  
    font-size: 1.3vw;
    margin: 0; 
}

.home-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}
